<!--DOCTYPE html>
<html>
<head>
  <title>Admin Login</title>
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
  <h1>Admin Login</h1>
  <form action="/admin/login" method="post">
    <input type="text" name="username" placeholder="Username" required>
    <input type="password" name="password" placeholder="Password" required>
    <button type="submit">Login</button>
  </form>
</body>
</html-->
<!DOCTYPE html>
<html>
<head>
  <title>Admin Login</title>
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
  <div class="login-box">
    <h1>Admin Login</h1>
    <form action="/admin/login" method="post">
      <div class="textbox">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" placeholder="Enter Username" required>
      </div>
      <div class="textbox">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" placeholder="Enter Password" required>
      </div>
      <button type="submit" class="btn-login">Login</button>
    </form>
  </div>
</body>
</html>
