<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Attendance Already Recorded</title>
    <style>
        body {
            background-color: #D1E9F6;
            font-family: Arial, sans-serif;
            text-align: center;
            padding: 50px;
        }

        .containers {
            max-width: 600px;
            margin: 0 auto;
            padding: 20px;
            background-color: #fff;
            border: 2px solid #326273;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        h1 {
            color: #3c33b3;
            margin-bottom: 20px;
        }

        p {
            color: #044085;
            font-size: 18px;
        }

        button {
            margin-top: 20px;
            padding: 10px 20px;
            background-color: #5c9ead;           ;
            border: none;
            font-weight: bold;
            border-radius: 5px;
            color: #080808;
            font-size: 16px;
            cursor: pointer;
        }

        button:hover {
            background-color: #326273;            ;
        }
    </style>
</head>
<body>
    <div class="containers">
        <h1>Attendance Already Recorded</h1>
        <p>Attendance for this date has already been recorded.</p>
        <button onclick="window.location.href='/admin/Attendance'">Go Back</button>
    </div>

</body>
</html>
