<!DOCTYPE html>
<html>
<head>
  <title>Home</title>
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
  <div class="login-container">
    <h1>Login As</h1>
    <div class="button-container">
      <a href="/employee/login" class="btn btn-employee">Employee</a>
      <a href="/admin/login" class="btn btn-admin">Admin</a>
    </div>
  </div>
</body>
</html>