<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Salary Slip Not Found</title>
    <style>
        body {
            background-color: #D1E9F6;
            font-family: Arial, sans-serif;
            text-align: center;
            padding: 50px;
        }

        .container {
            max-width: 600px;
            margin: 0 auto;
            padding: 20px;
            background-color: #fff;
            border: 2px solid #326273;            ;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        h1 {
            color: #1f3fa7;
            margin-bottom: 20px;
        }

        p {
            color: #045c85;
            font-size: 18px;
        }

        button {
            margin-top: 20px;
            padding: 10px 20px;
            background-color: #5c9ead;
            border: none;
            border-radius: 5px;
            color: white;
            font-size: 16px;
            cursor: pointer;
        }

        button:hover {
            background-color: #326273;
        }
    </style>
</head>
<body>

    <div class="container">
        <h1>Salary Slip Not Generated Yet</h1>
        <p>The salary slip for the specified month has not been generated yet.</p>
        <button onclick="window.location.href='/employee/payroll'">Go Back to Home</button>
    </div>

</body>
</html>
